nav {
    background-color: #070A52;
}

nav a {
    color: white !important;
}
img {
    max-width: 100%;
    height: auto;
}

body{
    background: white;
    font-family: 'Montserrat';
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Merriweather';
}
h3{
    font-weight: 400;
    font-size: 20px;
}

p{
    font-size: 16px;
    line-height: 2;
}
li {
    line-height: 2;
}

hr {
    width:15%;
    border-top:0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px dashed #86A3B8;
    opacity: 0.5;
    margin: auto;
}


section {
    padding: 2%;
}

section#intro {
    background-color: #070A52;
}
section#education {
    padding: 5% 0 5% 0;
}
td {
    padding: 20px;
}

#intro h1,h3,p {
    margin-top: 15px;
    color: white;
}

#intro p {
    width: 60%;
    animation-duration: 2s;
}



.skill-bar {
    border: 1px solid black;
    width: 200px;
    height: 10px;
}

.skill {
    background-color: black;
    height: 9px;
}

.html {
    width: 80%;
}
.css {
    width: 60%;
}
.javascript{
    width: 70%;
}
.dot-net {
    width: 60%;
}

.node-js {
    width: 80%;
}

.sql-server {
    width: 60%;
}

.react {
    width: 50%;
}

.cv-download{
   border: 1px solid #4D455D;
   border-radius: 10px;
   padding: 5px;
   margin-left: 10px;
}

ul {
    margin-right: 15px;
}


#contact {
    text-align: center;
    background-color: #2E3840;
    height: 5%;
    /* padding: 5%; */
}

#contact h3{
    margin-bottom: 20px;
}

#contact .fa-2x {
    margin: 1%;
    color: white;
}

/* Media Queries */
@media (max-width: 767px) and (orientation: portrait) {
    #intro {
        text-align: center;
    }

    #intro p{
        width: 100%;
        padding: 20px;
    }

    nav {
        text-align: center;
    }

    .cv-download{
       border: none;
       text-decoration: underline;
     }
 }

 @media (min-width: 620px) and (max-width: 1023px) and (orientation: portrait) { 
    #intro {
        text-align: center;
    }
    #intro p{
        width: 100%;
        padding: 20px;
    }
    nav {
        text-align: center;
    }

    .cv-download{
       border: none;
       text-decoration: underline;
     }
  }

  @media (min-width: 620px) and (max-width: 1023px) and (orientation: landscape) { 
    #intro {
        text-align: center;
    }
    #intro p{
        width: 100%;
        padding: 20px;
    }
    nav {
        text-align: center;
    }

    .cv-download{
       border: none;
       text-decoration: underline;
     }
   }
